.home-container {
  display: flex;
  background-image: url('/Users/jeevanvarmakonduri/Desktop/softyproject/SOFTWARE_OGHBS/frontend/public/output-onlinepngtools.png');
  align-items: center;
  justify-content: center;
  height:100vh;
  /* background-image: url('vgh.jpg'); Replace 'path/to/your/image.jpg' with the path to your image */
  /* opacity: 0.5; */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.home-container1 {
  display: flex;
  background-image: url('/Users/jeevanvarmakonduri/Desktop/softyproject/SOFTWARE_OGHBS/frontend/public/tghfront.jpg');
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url('vgh.jpg'); Replace 'path/to/your/image.jpg' with the path to your image */
  /* opacity: 0.5; */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.home-container2 {
  display: flex;
  background-image: url('/Users/jeevanvarmakonduri/Desktop/softyproject/SOFTWARE_OGHBS/frontend/public/vgh.jpg');
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-image: url('vgh.jpg'); Replace 'path/to/your/image.jpg' with the path to your image */
  /* opacity: 0.5; */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.transparent-background {
  position: relative;
}

.transparent-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('manohar-manu-hNsYIjUeXJw-unsplash.jpg'); Specify your background image */
  opacity: 0.5; /* Adjust the value (0.5 in this case) to change transparency */
}

.welcome-text {
  font-size: 4rem;
  border-radius: 45px;
  height: 10vh;
  animation: fadeIn 2s ease-in-out;
  color: #f1356d;
}
#book_tickets{
  font-size: 4rem;
  height: 20vh
}
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.guestHouses{
	/*width: 80%;*/
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15rem;
	margin-bottom: 5rem;
	flex-direction: column;
	/* background-color: */
}

.guestHouse{
	display: flex;
	margin: 1rem 0;
	/*justify-content: center;*/
	/*align-items: center;*/
}

.guestHouseImg{
	width: 50rem;
	height: 25rem;
	margin: 0 1rem;
}

.guestHouseName{
	font-size: 1.8rem;
	text-align: center;

}

.textBox{
  opacity: 1;
	margin: 0 1rem;
	width: 32rem;
	border: 2px solid rgb(250, 248, 248);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d3d1d4;
  font-weight: bold;
}
.dk-footer {
  background-color: #151414;
  position: relative;
  z-index: 2;
}

.logo{
    margin-top: 1rem;
    /*margin: 2rem;*/
}

.footerContainer{
    display: flex;
  justify-content: center;
}

.row{
    display: flex;
}

.info{
    display: flex;

}

.contact-us {
  z-index: 2;
    margin: 0 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon{
    margin: 0 1.2rem;
}

  .contact-icon i {
    font-size: 36px;
    top: -5px;
    color: white;
  }

.contact-info {
    display: flex;
    flex-direction: column;
  color: #fff;
    align-items: start;
}
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
  }
  .contact-info p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 0;
  }

.copyright {
  justify-content: space-evenly;
  display: flex;
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020;
}
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .copyright a:hover {
    color:#007bff;
  }

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}
