/* App.css */
.LoginApp {
  display: flex;
  background-image: url('/Users/jeevanvarmakonduri/Desktop/softyproject/SOFTWARE_OGHBS/frontend/public/unfocused-room-with-leather-chairs.jpg');
  align-items: center;
  justify-content: center;
  height:100vh;
  /* background-image: url('vgh.jpg'); Replace 'path/to/your/image.jpg' with the path to your image */
  /* opacity: 0.5; */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.login-container {
  
  background-color: #ecfffe;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 20px 20px 20px rgba(9, 3, 86, 0.1);
  animation: slide-in 1s ease-out;
}
@keyframes slide-in {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 6px solid #ccc;
  border-radius: 5px;
}

.Loginbutton {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.Loginbutton:hover {
  background-color: #239516;
}
