/* App.css */
.SignApp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.Sign-container {
  background-color: #e0f4f5;
  padding: 20px;
  border-radius: 10px;
  width: 50vh;
  height: 110vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signupbutton {
  padding: 5px;
  background-color: #2178d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signupbutton:hover {
  background-color: #0ce430;
}